<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>
            {{ renderData.title or title or metadata.title}}
        </title>
        <meta name="Description" content=""/>
        <base href="/">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-6FRVNB8CCG"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-6FRVNB8CCG');
        </script>
        <link rel="stylesheet" type="text/css" href="/assets/css/tailwind.css"/>
    </head>

    <body class="bg-organic-500 font-serif">
        <header class="bg-organic-200">
            <img class="p-6 w-2/3 mx-auto" src="/assets/img/banner.png" alt="Go Organics">
            <div class="bg-organic-500 p-2 text-organic-200 uppercase">
                <div class="p-6 w-2/3 mx-auto grid md:grid-flow-col justify-items-center">
                    {%- for nav in collections.nav -%}
                        <a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a><br/>
                    {%- endfor -%}
                </div>
            </div>
        </header>
        <main class="container mx-auto bg-gray-200">
            {{ content | safe }}
        </main>
    </body>
</html>