<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="The best organic fertilizer in South Africa using bird guano"/>
        <title>
            {{ renderData.title or title or metadata.title}}
        </title>
        <meta name="Description" content=""/>
        <base href="/">
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-6FRVNB8CCG"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'G-6FRVNB8CCG');
        </script>
        {# Async Google fonts #}
        <!-- connect to domain of font files -->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <!-- optionally increase loading priority -->
        <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap">

        <!-- async CSS -->
        <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap">

        <!-- no-JS fallback -->
        <noscript>
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap">
        </noscript>
        {# <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap" rel="stylesheet"> #}

        {# Custom CSS #}
        <link rel="stylesheet" href="assets/css/super-form-reset.css">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>

    <body>
        <main>
            <div class="navigation-div">
                <div class="logo"><img class="icon" loading="lazy" decoding="async" src="https://res.cloudinary.com/goorganicguano/image/upload/f_auto,q_auto,c_scale,w_auto,dpr_auto/v1611767547/website/icon_m9th3h.png" alt="Icon"/>
                    <h1 class="banner-header">go organic<span class="banner-header-highlight" aria-hidden="true">go organic</span></h1>
                </div>
                <div class="nav-items">
                    {%- for nav in collections.nav -%}
                        <a href="{{ nav.url | url }}">{{ nav.data.navtitle }}</a>
                    {%- endfor -%}
                </div>
            </div>
            <div class="content">{{ content | safe }}</div>
        </main>
        <footer>
            <p>
                <strong>Email:</strong>
                <a href="mailto:info@goorganicguano.co.za">info@goorganicguano.co.za</a>
            </p>
            <p>
                <strong>Customer care:</strong>
                <span>079-630-5841</span> or <span>082-418-8672</span></p>
        </footer>
    </body>
</html>