<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>
            {{ renderData.title or title or metadata.title}}
        </title>
        <meta name="Description" content=""/>
        <base href="/">
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap" rel="stylesheet">
        {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css"> #}
        <link rel="stylesheet" href="assets/css/style.css">
    </head>

    <body>
        <main>
            {{ content | safe }}
        </main>
    </body>
</html>