@tailwind base;

h1 {
  @apply text-3xl font-semibold;
}

h2 {
  @apply text-2xl font-semibold;
}

a {
  @apply underline;
}

a:hover {
  @apply text-blue-300 no-underline;
}

@tailwind components;

@tailwind utilities;