---
title: About
layout: layouts/base.njk
tags:
  - nav
navtitle: About
date: 2000-01-03
---
<div class="p-16 leading-7 text-xl">Go Organic Guano was established in 2009. Seabird Guano is one of the best organic fertilizers in the world today.
Fortunately, you can now buy Seabird Guano from Go Organic Guano, and only good things will happen when you do. You will be delighted with the results you get when you use Seabird Guano organic Fertilizer South Africa in your garden, lawn or farm application. Mix it into your potting soil when potting new plants or re-potting old plants. Top-dress potted plants; apply it to your lawn, flower and vegetable gardens. You'll be amazed at the results. You can use Go Organic Guano for any application you would ordinarily use regular fertilizer for.</div>
<h2 class="pl-16">Incredible sales</h2>
<div class="p-16 leading-7 text-xl">Public demand for the Go Organic Guano organic fertilizer South Africa handy 2 litre bottle has been incredibly high at all major Stores. Customers have been voting with their feet and enjoying the outstanding results our organic fertilizer south africa provides. They say a photograph can say a thousand words ... evidence indeed!!</div>
<h2 class="pl-16">Handy 2 litre bottle</h2>
<div class="p-16 leading-7 text-xl">Go Organic fertilizer in South Africa is sold, and retailed in a handy 2 litre bottle and contains oodles of trace minerals as well as all the usual N-P-K standards you're used to. You get all the benefits of regular fertilizer plus micronutrients and it adds lots of biological activity to your soil you just can't get any other way.</div>