---
title: Contact
layout: layouts/base.njk
tags:
- nav
navtitle: Contact
date: 2000-01-05
---
<section class="content">
    <form name="info" method="POST" data-netlify="true">
        <h2>Contact Us</h2>
        <section class="user-form shadow">
            <div class="user-form-field">
                <label>Your Name </label>
                <input type="text" name="name" required/>
            </div>
            <div class="user-form-field">
                <label>Your Email </label>
                <input type="email" name="email"/>
            </div>
            <div class="user-form-field">
                <label>Your Phone</label>
                <input type="phone" name="phone" required/>
            </div>
            <div class="user-form-field">
                <label>Message</label>
                <textarea name="message" rows="4"></textarea>
            </div>
            <div >
                <input type="checkbox" name="join" id="join">
                <label>Join our mailing list </label>
            </div>
        </p>
    </section>
    <button type="submit" class="shadow">Submit</button>
</form>
</section>