---
title: FAQ
layout: layouts/base.njk
tags:
- nav
navtitle: FAQ
date: 2000-01-04
---
<h3>Q: Does this product have a waiting period before one can harvest crops?</h3>
<p><strong>A:</strong> This product is safe to use with no waiting period. Crops can be harvested shortly after applying the product, just rinse well</p>

<h3>Q: Will it burn my plants?</h3>
<p><strong>A:</strong> No it will not burn your plants or plant roots as it contains no added  chemicals</p>

<h3>Q: Can I use this product throughout the year?</h3>
<p><strong>A:</strong> This product is safe to use all year round</p>

<h3>Q: How do I dilute the product?</h3>
<p><strong>A:</strong> Dilute 25 ml of Go Organic Guano on 1 ℓ of water or 25 ℓ of Go Organic  Guano on a 1000 ℓ of water (for agricultural purposes). Use it as a foliar  spray once every 2 weeks. Good results will be seen in Spring.</p>

<h3>Q: Is Go Organic Guano truly organic?</h3>
<p><strong>A:</strong> It is organic in the sense that the product is manually harvested directly  from the islands in Namibia without the introduction of any synthetic or  chemical additives.</p>
