---
title: Go Organic
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
date: 2000-01-01
---
<div class="banner-image-div">
  {# src="assets/img/person holding green grass.jpg" #}
  <img class="banner-image" src="https://res.cloudinary.com/goorganicguano/image/upload/f_auto,q_auto,c_scale,w_1024,dpr_auto/v1611767549/website/penguin-portrait_epu8qv.jpg" alt="Banner Image"/>
</div>
<div class="gradient"></div>
<div class="banner-text-div">
  <span class="banner-text">
    <div >
      <img class="banner-icon" src="https://res.cloudinary.com/goorganicguano/image/upload/f_auto,q_auto,c_scale,w_200,dpr_auto/v1611767547/website/icon_m9th3h.png" alt="Icon"/>
      <h1 class="banner-header">go organic<span class="banner-header-highlight" aria-hidden="true">go organic</span></h1>
      <p class="banner-body-text">natural seabird guano</p>
      <p>The original seabird guano since 2009</p>
      <p class="banner-btn">
        <a class="banner-btn-item" href="/about">Learn more</a>
      </p>
    </div>
  </span>
</div>