---
title: Go Organic
layout: layouts/home.njk
tags:
  - nav
navtitle: Home
date: 2000-01-01
---
<div class="banner-image-div">
  {# src="assets/img/person holding green grass.jpg" #}
  <img class="banner-image" src="https://res.cloudinary.com/goorganicguano/image/upload/f_auto,q_auto,c_scale,w_1024,dpr_auto/v1611767549/website/penguin-portrait_epu8qv.jpg" alt="Banner Image"/>
</div>
<div class="gradient"></div>
<div class="banner-text-div">
  <span class="banner-text">
    <div >
      <img class="banner-icon" src="https://res.cloudinary.com/goorganicguano/image/upload/f_auto,q_auto,c_scale,w_200,dpr_auto/v1611767547/website/icon_m9th3h.png" alt="Icon"/>
      <h1 class="banner-header">go organic<span class="banner-header-highlight" aria-hidden="true">go organic</span></h1>
      <p class="banner-body-text">natural seabird guano</p>
      <p>The original seabird guano since 2009</p>
      <p class="banner-btn">
        <a class="banner-btn-item" href="#fact-sheet">Learn more</a>
      </p>
    </div>
  </span>
</div>
<section id="fact-sheet">
  <h2>Go Organic Guano Facts</h2>
  <ul>
    <li>Seabird Guano is one of the most comprehensive organic fertilizers in the world</li>
    <li>Go Organic Guano is sourced sustainably using  environmentally friendly methods</li>
    <li>Go Organic Guano products are produced in South  Africa</li>
    <li>Go Organic Guano is a 100 % Natural Ingredients Fertilizer</li>
    <li>Go Organic Guano is a certified organic product</li>
    <li>Go Organic Guano improves water and nutrient-holding capacities</li>
    <li>Go Organic Guano is a foliar spray as well as a source of soil nutrition that you can spray or pour </li>
    <blockquote>
      <p>One of the best all natural organic fertilizers.</p>
      <p>Contains no synthetic or chemical additives.</p>
      <p>Naturally harvested.</p>
    </blockquote>
    <li>Use it as a foliar spray on all small grains, cash  crops, corn, fruit trees, vegetables, vineyards as  well as on flowers, especially roses</li>
    <li>Go Organic Guano allows for better metabolism of  nitrates in plants</li>
    <li>Go Organic Guano ensures stronger cell walls  which leads to flavour enhancement and resistance to mould fungus attack</li>
    <li>Go Organic Guano ensures more upright stems and  open leaves enhancing photosynthesis</li>
    <li>Go Organic Guano ensures better fertile and viable  seed production</li>
    <li>Go Organic Guano causes an increase in soil micro-fauna</li>
    <li>Go Organic Guano won’t burn plant or plant  roots</li>
    <li>Go Organic Guano should be used before  flowering / blooming or bud period of plant /  tree</li>
    <li>Go Organic Guano is an excellent foliar feed for  after harvesting crops / produce</li>
    <li>Cash crop farming: Go Organic Guano to be  applied all year round on a 3 week interval</li>
    <li>Go Organic Guano is very cost effective as 2 ℓ of Go Organic Guano makes 80 ℓ of plant food, and 25 ℓ makes 1000 ℓ of plant food. 40 to 1 dilution ratio </li>
    <li>2 ℓ diluted Go Organic Guano (diluted to 80 lt plant food) covers 800 m ² and 25 ℓ  of diluted Go 	Organic Guano (diluted to 1000 lt plant food) covers 1 hectare (10,000  m ²)</li>
    <li>Resulting produce has a longer shelf life and food is  better to consume</li>
    <li>Go Organic Guano contains lots of vitamins and minerals from the birds diet and most of the  	goodness in the guano comes from the fish  bones the bird eats</li>
  </ul>

</section>
