---
title: Products
layout: layouts/base.njk
tags:
  - nav
navtitle: Products
date: 2000-01-02
---

<section class="content">
    <div>Loaded with (N) Nitrogen and (P) Phosphorus elements as well as a huge range of trace element nutrients Go Organic will produce fantastic growth on anything you grow.</div>
    <div>A little goes a long way, 40 to 1 dilution mix ratio. That means 250ml GoOrganic Guano Extract will produce 10 liter water</div>

    <h2>Guano Liquid Extract</h2>
    <p>Go Organic Guano Concentrated Fertilizer Extract is best applied for most crops at pre-flower and with fruit set to prevent flower drop and increase potential yield. It can be applied every week as a foliar spray or soil drench </p>
    <h3>Recommended Application</h3>
    <p>The recommended application is 25 lts of Go Organic Extract to 1000 lt water per ha. Go Organic Guano dilution ratio is 40:1 dilution – 40 lt water to 1 lt Go Organic Guano Extract. Best applied before 09h00 and after 16h00 weather dependent for best absorption </p>
    <p>Go Organic Guano Concentrated Fertilizer Extract can be applied to crops as follows</p>
    <ul>
      <li>Spraying equipment with tractors</li>
      <li>Irrigation pivots – increase recommended dosage by 25% for pivot</li>
      <li>Aerial - increase recommended dosage by 25% for aerial</li>
      <li>Drip irrigation</li>
      <li>Backpack</li>
    </ul>

    <p>Availabe in:</p>

    <ul>
      <li>2ℓ container</li>
      <li>5ℓ container</li>
      <li>25ℓ container</li>
      <li>1000ℓ Flo Bins</li>
    </ul>

    <h2>Go Organic Slow Release Organic Guano Tablets</h2>

    <p>The Go Organic Slow Release Guano Tablets have a weight of 25 gram and are available in the following packaging : 1. Packs of 10  - 2. Bulk quantities of 250 per Box.</p>
    <p>Slow release of nutrients to the plants for up to 4 months and throughout the growing season</p>
    <h3>Recommended Application of Tablets</h3>
    <p>
      <strong>Trees 0 to 2 year / Bushes and Shrubs:</strong> For young trees place one to two tablets approximately halfway under the overhang  just below the surface every four months or as required by agronomist’s recommendations. For bushes and shrubs place one or two tablets for every 500cm² surface area just under the surface and again halfway under the bush or shrub’s overhang</p>
    <p>
      <strong>Mature trees 2 years and older:</strong> Apply two to four Tablets halfway under the overhang just below the surface every four months or as required by agronomist’s recommendations</p>
    <p>
      <strong>Ornamental and Pot plants:</strong> Place one tablet away from the plant’s stem and just below the soil surface. The tablet may also be placed just below the edge of the pot or container depending on root growth in pot/container</p>
    <p>Available in</p>
    <ul>
      <li>Tube containing 10 tablets</li>
      <li>Bulk Tablets in 1250 Boxes or any combination of 250 </li>
    </ul>

  </section>