---
title: Products
layout: layouts/base.njk
tags:
  - nav
navtitle: Products
date: 2000-01-02
---
<h2 class="px-16 py-2 leading-7">Go Organic Guano handy 2 litre bottle</h2>
<div class="px-16 py-8 leading-7 text-xl">Go Organic Guano fertilizer is sold, and retailed in a handy 2 litre bottle and contains oodles of trace minerals as well as all the usual N-P-K standards you're used to. You get all the benefits of regular fertilizer with this organic fertilizer plus micronutrients and it adds lots of biological activity to your soil you just can't get any other way. 2 Litres of  Go Organic Guano makes 80 litres of plant food which covers 800 m2.</div>
<h2 class="px-16 py-2 leading-7">Go Organic Fertilizer 25 Lt</h2>
<div class="px-16 py-8 leading-7 text-xl">25 litre of Go Organic Guano makes a 1,000 litres of plant food that covers 1 hectare (1:40 dilute) </div>
<h2 class="px-16 py-2 leading-7">Go Organic Natural Seabird Guano Tablets</h2>
<div class="px-16 py-8 leading-7 text-xl">Its a compressed organic fertilizer in a convenient tablet form. This product can be applied for the general feeding of potplants, young trees, shrubs and mature trees. It is available in containers of 10's or any other quantities (bulk). Organic fertilizers provide a slow release of nutrients to plants.</div>