---
title: Shop
layout: layouts/base.njk
tags:
  - nav
navtitle: Shop
date: 2000-01-02
---
<form name="order" method="POST" data-netlify="true">

  <section class="py-4 px-16">
    <h2>Go Organic Guano Liquid</h2>
    <div class="leading-8">The guano liquid contains oodles of trace minerals as well as all the usual N-P-K standards you're used to. You get all the benefits of regular fertilizer with this organic fertilizer plus micronutrients and it adds lots of biological activity to your soil you just can't get any other way. </div>
    <h2>Go Organic Seabird Guano Tablets</h2>
    <div class="leading-8">Its a compressed organic fertilizer in a convenient tablet form. This product can be applied for the general feeding of potplants, young trees, shrubs and mature trees. It is available in containers of 10's or any other quantities (bulk). Organic fertilizers provide a slow release of nutrients to plants.</div>
  </section>

  <section class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 p-4">
    <div class="grid content-start border-2 border-organic-500 rounded shadow-lg  py-4 px-16" style="grid-template-rows: 1fr 2fr 1fr 1fr">
      <h2 class="text-center">Go Organic Guano Liquid 2 Liter</h2>
      <div class="leading-8">A handy 2 litre bottle makes 80 litres of plant food which covers 800 m2.</div>
      <div class="text-2xl font-semibold grid justify-center">
        <div class="text-center bg-organic-500 text-white rounded-full w-20 h-20 pt-6">R50</div>
      </div>
      <div class="leading-7">
        <label>Quantity: <input class= "p-1 w-full" type="number" min="0" name="2-liter-qty"/></label>
      </div>
    </div>
    <div class="grid content-start border-2 border-organic-500 rounded shadow-lg  py-4 px-16" style="grid-template-rows: 1fr 2fr 1fr 1fr">
      <h2 class="text-center">Go Organic Guano Liquid 25 Liter</h2>
      <div  class="leading-8">A 25 litre jerrycan of Go Organic Guano makes a 1,000 litres of plant food that covers 1 hectare (1:40 dilute) </div>
      <div class="text-2xl  font-semibold grid justify-center">
        <div class="text-center bg-organic-500 text-white rounded-full w-20 h-20 pt-6">R150</div>
      </div>
      <div>
        <label>Quantity: <input class= "p-1 w-full" type="number" min="0" name="25-liter-qty"/></label>
      </div>
    </div>
    <div class="grid content-start border-2 border-organic-500 rounded shadow-lg py-4 px-16" style="grid-template-rows: 1fr 2fr 1fr 1fr">
      <h2 class="text-center">Go Organic Seabird Guano Tablets</h2>
      <div  class="leading-8">A 10-tablet tube that can feed up to 10 tree's</div>
      <div class="text-2xl font-semibold grid justify-center">
        <div class="text-center bg-organic-500 text-white rounded-full w-20 h-20 pt-6">R100</div>
      </div>
      <div >
        <label>Quantity: <input class= "p-1 w-full" type="number" min="0" name="tablets-qty"/></label>
      </div>
    </div>
  </section>
  <p class="px-16 py-2 leading-7">
    <label>Your Name <input class= "p-1 w-full" type="text" name="name" required/></label>
  </p>
  <p class="px-16 py-2 leading-7">
    <label>Your Email <input class= "p-1 w-full" type="email" name="email"/></label>
  </p>
  <p class="px-16 py-2 leading-7">
    <label>Your Phone <input class= "p-1 w-full" type="phone" name="phone" required/></label>
  </p>
  <p class="px-16 py-2 leading-7">
    <label>Message <textarea class= "p-1 w-full" name="message"></textarea>
    </label>
  </p>
  <p class="px-16 py-2 leading-7">
    Courier services will be calculated once the order is processed. One of our sales team will get in touch and finalize the details total cost.
  </p>
  <p class="px-16 py-2 leading-7">
    <button class="bg-organic-500 hover:bg-organic-700 text-white font-bold py-2 px-4 rounded" type="submit">Order</button>
  </p>
</form>