---
title: Shop
layout: layouts/base.njk
tags:
  - nav
navtitle: Shop
date: 2000-01-03
---
<form name="order" method="POST" data-netlify="true">

  <section>
    <div>
      <h2 >Go Organic Guano Liquid</h2>
      <div >A handy 2 litre bottle makes 80 litres of plant food which covers 800 m2.</div>
      <div class="products">
        <div class="product-card">
          <div>1 Lt Bottle</div>
          <div>
            <strong>R30</strong>
          </div>
          <div>
            <label>Quantity (min 20 bottles): </label>
          </div>
          <input type="number" min="20" name="2-liter-qty"/>
        </div>
        <div class="product-card">
          <div>2 Lt Cans</div>
          <div>
            <strong>R50</strong>
          </div>
          <div>
            <label>Quantity (min 10 cans): </label>
          </div>
          <input type="number" min="10" name="2-liter-qty"/>
        </div>
        <div class="product-card">
          <div>5 Lt Agri Cans</div>
          <div>
            <strong>R100</strong>
          </div>
          <div>
            <label>Quantity (min 5 cans): </label>
          </div>
          <input type="number" min="5" name="2-liter-qty"/>
        </div>
        <div class="product-card">
          <div>25 Lt Cans</div>
          <div>
            <strong>R450</strong>
          </div>
          <div>
            <label>Quantity: </label>
          </div>
          <input type="number" min="0" name="25-liter-qty"/>
        </div>
        <div class="product-card">
          <div>1000 Lt Flow Bins</div>
          <div>
            <strong>R15,000</strong>
          </div>
          <div>
            <label>Quantity: </label>
          </div>
          <input type="number" min="0" name="25-liter-qty"/>
        </div>
      </div>
      <div>
        <h2>Go Organic Seabird Guano Tablets</h2>
        <div>A 10-tablet tube that can feed up to 10 tree's</div>
        <div class="products">
          <div class="product-card">
            <div>25gr Tablet</div>
            <div>
              <strong>R3.50</strong>
            </div>
            <div>
              <label>Quantity (min 250): </label>
            </div>
            <input type="number" min="250" name="2-liter-qty"/>
          </div>
          <div class="product-card">
            <div>Tube of 10</div>
            <div>
              <strong>R65</strong>
            </div>
            <div>
              <label>Quantity: </label>
            </div>
            <input type="number" min="0" name="2-liter-qty"/>
          </div>
        </div>
      </div>
    </div>
  </section>
  <h2>Your Details</h2>
  <section class="user-form">
    <div class="user-form-field">
      <label>Your Name </label>
      <input type="text" name="name" required/>
    </div>
    <div class="user-form-field">
      <label>Your Email </label>
      <input type="email" name="email"/>
    </div>
    <div class="user-form-field">
      <label>Your Phone</label>
      <input type="phone" name="phone" required/>
    </div>
    <div class="user-form-field">
      <label>Message</label>
      <textarea name="message" rows="4"></textarea>
    </div>
    <p>
    Courier services will be calculated once the order is processed. One of our sales team will get in touch and finalize the details total cost.
  </p>
  </section>
  <button type="submit">Order</button>
</form>